<div>
  <ul>
    <% @loans.each do |l| %>
      <li>
        <p><%= l.person %> has <%= l.item %></p>
        <div>
          <%= form_for(l, :html => { :method => 'delete' } ) do |f| %>
            <div class="actions">
              <p><%= f.submit "Return loan." %></p>
            </div>  
          <% end %>        
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div><%= link_to "New loan.", new_loan_path %></div>
