<% if user_signed_in? %>
  <div class="new-loan">
    <h2>Create a new loan</h2>
    <%= form_tag "/loans" do %>
      <div>
        <%= email_field :borrower, :email, :placeholder => "email address" %>
      </div>
      <div>
        <%= text_field :item, :name, :placeholder => "item name" %>
      </div>
      <%= submit_tag "Create Loan", :class => "btn" %>
    <% end %>
  </div>
  <div class="content row top-margin">
      <section id="loan-counter" class="span4 offset2">
        <%= link_to 'Loans', :controller => 'loans', :action => 'index' do %>
          <img src="http://placehold.it/350x150&amp;text=Loans">
          <p><%= @loans.count %></p>
        <% end %>
      </section>
      <section id="borrowing-counter" class="span4">
        <%= link_to 'Borrowing', :controller => 'borrowing', :action => 'index' do %>
          <img src="http://placehold.it/350x150&amp;text=Borrowed">
          <p><%= @borrowing.count %></p>
        <% end %>
      </section>
  </div>
<% end %>