- if user_signed_in?
  #new-loan
    %h2 Create a new loan
    = form_tag "/loans" do
      = email_field :borrower, :email, :placeholder => "email address"
      = text_field :item, :name, :placeholder => "item name"
      = submit_tag "Create Loan"

  .content
    %ul
      %li
        .loan-counter
          = link_to 'Loans', :controller => 'loans', :action => 'index'
          %p #{@loans.count}
      %li
        .borrowing-counter
          %a Borrowings 
          %p #{@borrowing.count}

  = render :template => "loans/index"