<%= form_for(@loan, :html => {:class => "form-inline"}) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explaination">
      <h2><%= /#{pluralize(@loan.errors.count, "error")} stopped this loan from being saved:/ %></h2>
      <ul>
        <% @loan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  
  <%= fields_for @borrower do |borrower_fields| %>
    <%= borrower_fields.typeahead_email_field :email, :placeholder => "borrower email address", 
      :source => '/borrowers.json', :display_field => 'email', :update_id => 'borrower_id'  %>
    <%# SMELL This should be in the field builder %>    
    <%= hidden_field_tag :borrower_id %>  
  <% end %>  
  <%= fields_for @loan.build_item do |item_fields| %>
      <%= item_fields.typeahead_text_field :name, :placeholder => "item name", 
        :source => '/items.json', :display_field => 'name', :update_id => 'item_id'  %>
      <%# SMELL This should be in the field builder %>  
      <%= hidden_field_tag :item_id %>    
  <% end %>


  <%= f.submit %>

  <hr />
  <h4>Additional information (if creating a new borrower or item)</h4>
  <%= fields_for @borrower do |borrower_fields| %>
    <%= borrower_fields.text_field :name, :placeholder => "borrower name" %>
  <% end %>
  <%= fields_for @loan.build_item do |item_fields| %>
      <%= item_fields.text_field :description, :placeholder => "item description" %>
  <% end %>
  <p>NB: This information is not required. You can add additional information later.</p>
<% end %>