<% if user_signed_in? %>
  <div id="new-loan">
    <h2>Create a new loan</h2>
    <%= form_tag "/loans" do %>
      <%= email_field :borrower, :email, :placeholder => "email address" %>
      <%= text_field :item, :name, :placeholder => "item name" %>
      <%= submit_tag "Create Loan" %>
    <% end %>
  </div>
  <div>
    <ul>
      <% @loans.each do |l| %>
        <li>
          <div class="loan-item">
            <p><%= l.borrower.email %> has <%= l.item %></p>
            <p><%= time_ago_in_words(l.created_at) %> ago</p>
            <div>
              <%= form_for(l, :html => { :method => 'delete' } ) do |f| %>
                <div class="actions">
                  <p><%= f.submit "Return loan." %></p>
                </div>  
              <% end %>        
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

<% end %>