<% if user_signed_in? %>
  <div id="new-loan">
    <h2>Create a new loan</h2>
    <%= form_tag "/loans" do %>
      <%= email_field :borrower, :email, :placeholder => "email address" %>
      <%= text_field :item, :name, :placeholder => "item name" %>
      <%= submit_tag "Create Loan" %>
    <% end %>
  </div>


  <div class="content">
    <div class="loans-container">
      <div class="loan-header">
        <h3>Loans</h3>
      </div>
      <div class="loans">
        <ul class="loan-list">
          <% @loans.each do |l| %>
            <li class="loan-item">
              <div class="loan-details">
                <p><%= l.borrower.email %> has <%= l.item %></p>
                <p><%= time_ago_in_words(l.created_at) %> ago</p>
              </div>
              <span class="remove-loan">
                <%= form_for(l, :html => { :method => 'delete' } ) do |f| %>
                  <div>
                    <%= f.submit "Return loan." %>
                  </div>  
                <% end %>        
              </span>
              <span class="remind-loan">
                <%= form_tag "/reminder" do %>
                  <div>
                    <%= hidden_field_tag 'id', l.id %>
                    <%= submit_tag "Remind" %>
                  </div>  
                <% end %>        
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<% end %>