<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-vertical" }) do |f| %>

  <%= f.email_field :email, :id => "in1" %>
  <%= f.password_field :password, :id => "in2" %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
  <%= f.submit "Login" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
