<%= form_for(@item, :html => {:class => "form-inline"}) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.text_field :description, :placeholder => "Description" %>

  <div class="bucket">
    <%= fields_for @item.bucket do |bucket_fields| %>
        <%= bucket_fields.typeahead_text_field :name, :placeholder => "Bucket name", 
          :source => '/buckets.json', :display_field => 'name', :update_id => 'bucket_id' %>
        <%# SMELL This should be in the field builder %>  
        <%= hidden_field_tag :bucket_id %>    
    <% end %>
  </div>

  <div class="tags">
    <%= f.text_field :tag_list, :placeholder => "Tags (separated by commas)" %>
  </div>
  <%= f.submit %>
<% end %>
