<%= form_for(@item, :html => {:class => "form-inline"}) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
  <input type="file" accept="image/*;capture=camera">
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.text_field :description, :placeholder => "Description" %>
  <%= f.submit %>
  <p>Create a new item by adding its details here. The name will uniquely identify the item,
     so make your names as descriptive as possible.</p> 
  <p><emphasis>e.g.</emphasis> DVD - Lord of the Rings Vol. 1</p>
<% end %>
