<div class="accordion" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
        Create a new item
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <!-- <div id="new-loan" class="hero-unit" > -->
        <div class="accordion-inner">
          <%= render '/items/form' %>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Bucket</th>
    <th>Tags</th>
    <th colspan=3>Actions</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.bucket_name %></td>
    <td><%= item.tag_list %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Import Items
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <!-- http://www.randomout.com/2012/07/hacking-more-visually-appealing-file.html have a look at this
          or http://gregpike.net/demos/bootstrap-file-input/demo.html 

          for a better styling of the select file control
          -->
          <%= form_tag import_items_path, multipart: true, :class => "form-inline" do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import", :class => "btn" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
