<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="/"><%= user_signed_in? ? 'Home' : 'Welcome' %></a></li>
    <li><%= link_to 'About', new_user_session_path %></li>
    <% if user_signed_in? %>
      <li>
        <%= link_to 'Loans', loans_path %>
      </li>   
      <li>
        <%= link_to 'Hello '+ current_user.name, edit_user_registration_path %>  
      </li>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
      </li>  

    <% else %>
      <li>
        <%= link_to 'Sign up', new_user_registration_path %>
      </li>
      <li>  
        <%= link_to 'Login', new_user_session_path %>
      </li>
    <% end %>
  </ul>

<h3 class="muted">Stuff</h3>
</div>